.contact-img{
    width: 100%;
    height: auto;
    margin-top: -78px;
}
.contact-heading{
    font-size: 5.25vw;
    line-height: .9;
}
.contact-heading-part-one{
    padding: 0;
    color: #777;
}
.contact-heading-part-two{
    padding: 0;
    color: goldenrod;
    font-weight: 700;
}
.contact-spacer{
    margin-top: 8px;
}

@media screen and (max-width: 912px) {
    .contact-img{
        margin-top: 0;
    }
    .row-reverse-phone {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .contact-heading{
        font-size: 9.25vw;
    }
    .contact-main{
        position: relative;
        z-index: 2;
        margin: -450px 0px 15px 0px;
        background-color: #fff;
        max-width: 100%;
        opacity: .9;
        padding: 25px 25px;
    }
}